/data/GOSP.dat
/data/GOSP.idn
/data/GPOS.dat
/data/GPOS.idn
/data/GSPO.dat
/data/GSPO.idn
/data/OSP.dat
/data/OSP.idn
/data/OSPG.dat
/data/OSPG.idn
/data/POS.dat
/data/POS.idn
/data/POSG.dat
/data/POSG.idn
/data/SPO.dat
/data/SPO.idn
/data/SPOG.dat
/data/SPOG.idn
/data/journal.jrnl
/data/node2id.dat
/data/node2id.idn
/data/nodes.dat
/data/nodes.dat-jrnl
/data/prefix2id.dat
/data/prefix2id.idn
/data/prefixIdx.dat
/data/prefixIdx.idn
/data/prefixes.dat
/data/prefixes.dat-jrnl
/classes.ucls
/uml.ucls
/forms-1.3.0-src.zip
bin/
*.class
lib/

# Package Files #
*.jar
*.war
*.ear
